In [30]:
%load_ext autoreload
%autoreload 2
!pip install pandas openpyxl

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
Requirement already satisfied: pandas in c:\source\cmr\rateradar\.venv\lib\site-packages (2.2.0)
Requirement already satisfied: openpyxl in c:\source\cmr\rateradar\.venv\lib\site-packages (3.1.2)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\source\cmr\rateradar\.venv\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\source\cmr\rateradar\.venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\source\cmr\rateradar\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\source\cmr\rateradar\.venv\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: et-xmlfile in c:\source\cmr\rateradar\.venv\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\source\cmr\rateradar\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [31]:
# Update path so we can import from common folder
import os
import sys

current_dir = os.getcwd()
sys.path.append(os.path.dirname(current_dir))

In [41]:
# Load the cpi inflation into a dataframe
import common.paths as paths
import pandas as pd

pcpi_filename = os.path.join(paths.RAW_DIR, 'inflation/pcpi_first_second_third.xlsx')

# read excel file and get second worksheet (by index not name). Skip first 2 rows
df = pd.read_excel(pcpi_filename, sheet_name=1, skiprows=4)
df

        Date   First  Second  Third  Most_Recent
0    1998:10  2.9738     NaN    NaN       2.9756
1    1998:11  2.2173     NaN    NaN       1.4742
2    1998:12  1.4706     NaN    NaN       2.2160
3    1999:01  1.4697     NaN    NaN       2.2119
4    1999:02  0.7315     NaN    NaN       0.0000
..       ...     ...     ...    ...          ...
298  2023:08  7.8428     NaN    NaN       7.8428
299  2023:09  4.8535     NaN    NaN       4.8535
300  2023:10  0.5399     NaN    NaN       0.5399
301  2023:11  1.1687     NaN    NaN       1.1687
302  2023:12  3.6973     NaN    NaN       3.6973

[303 rows x 5 columns]

In [51]:
# We only want Date and First columns
clean_df = df[['Date', 'First']]

# Rename 'First' to "CPI"
clean_df = clean_df.rename(columns={'First': 'CPI'})

# Split Date into year/month by splitting on colon and set it to the first of the month
clean_df['Date'] = clean_df['Date'].str.split(':', expand=True)[1] + '/01/' + clean_df['Date'].str.split(':', expand=True)[0]

# Make Date the column index to ensure unique data
clean_df = clean_df.set_index('Date')

# Save to data/processed/inflation/cpi.csv
clean_df.to_csv(os.path.join(paths.PROCESSED_DIR, 'cpi.csv'))